body {
    /* 기본 margin과 padding을 제거하여 일관된 시작점을 만듭니다 */
    margin: 0;
    padding: 0;
    /* (선택 사항) 배경색을 설정하여 컨테이너 바깥쪽 공간을 구분할 수 있습니다 */
}
.page-content {
    width: 100%;
}
.page-content * {
    width: 100%;
}
.k-top {
position: relative;
    display: flex;  
    max-width: 480px;
  width: 100%;      /* 작은 화면에서 부모 너비를 모두 사용하도록 설정 */
  margin: 0 auto;   /* 좌우 마진을 자동으로 설정하여 가운데 정렬 */
  box-sizing: border-box; /* 패딩이 너비에 포함되도록 설정 */
/*    display: flex;
    justify-content: center; /* 가로축 기준으로 가운데 정렬 */*/
}

.k-full-div {
    width: 100%;
    height: 100vh;
}

.k-main-image {

    /*background-position: center; 
    /*background-repeat: no-repeat; 

    /*background-image: url(images/main.jpg);*/
    /*background-size: cover;*/
    /*background-position: center center;*/


  max-width: 100%; /* Ensures it doesn't overflow its container */
  width: 100%;
  height: 100%;
    object-fit: cover; /* 이미지가 컨테이너를 꽉 채우되 비율 유지 (잘림 발생) */ 
  object-position: center; /* 이미지가 중앙을 기준으로 표시됨 */
}

.k-main-image-container {
    height: calc(100vh - 50px); /* 뷰포트(화면) 높이의 100% */
    overflow: hidden;

}

.k-section {
    position: absolute;
    width: 100%;
    height: 100vh;
}
.k-container {
    position: relative;
    height: 100%;
}
.k-date-location-box {
    margin-top: 35px;
    margin-bottom: 20px;
}
.k-text-box {
    color: lightcoral;
    text-align: center;
}
.k-parents-box {
    margin-top: 25px;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
}
.broom-bride {

}
.k-parents-relation-box {
    width: 20px;
    text-align: center;
}
/* 사라질 요소의 초기 스타일 */
#message-box {
    /*background-color: lightcoral;*/
    padding: 20px;
    
    max-width: 480px;

    display: flex; align-items: center;
    text-align: center;

    justify-content: center;

    color: lightcoral;
    /*font-size: 12px;*/
    /* 부드러운 전환 효과를 위한 transition 설정 */
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

/* 사라진 후의 스타일 (투명도 0, 보이지 않음) */
.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.fade-in-box {
  display: inline-block;
  /*background: yellow;*/
  padding: 10px;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out-box {
  display: inline-block;
  /*background: yellow;*/
  padding: 10px;
  animation: fadeout 1s;
  -moz-animation: fadeout 1s; /* Firefox */
  -webkit-animation: fadeout 1s; /* Safari and Chrome */
  -o-animation: fadeout 1s; /* Opera */
  animation-fill-mode: forwards;
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#main-box {
    padding: 20px;
    max-width: 480px;
}
/* 사라진 후의 스타일 (투명도 0, 보이지 않음) */
.showkk {
    /*opacity: 0;*/
    /*visibility: hidden;*/

    background-position: center; 
    background-repeat: no-repeat; 

    background-image: url(./../images/main.jpg);
    background-size: cover;
    height: calc(100vh - 20px)
    /*background-position: center center;*/
}

.k-bottom {
    height: 10px;
    position: absolute;
    bottom: 0;
}
.typing {
  width: 20ch;
  animation: typing 1.5s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.5em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}



.slider {
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    font-size: 10px;
    line-height: 10px;
    color: #fff;
}

.k-calendar {
    padding: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
 
.holiday {
  color: red;
}
.important {
    /* 너비와 높이를 같게 설정하여 정사각형으로 만듭니다 */
    width: 26px;
    height: 26px;
    
    /* 배경색을 분홍색으로 설정합니다 */
    background-color: #ff69b4; /* 핫핑크 색상 예시 */
    
    /* border-radius를 50%로 설정하여 원 모양으로 만듭니다 */
    border-radius: 50%;
    
    /* flexbox를 사용하여 텍스트를 원의 정중앙에 배치합니다 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;     /* 세로 중앙 정렬 */
    
    /* 선택 사항: 텍스트 스타일링 */
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
 
h1 {
  text-align: center;
  font-family: grape nuts;
  margin-top: 50px;
  font-size: 50px;
  color: azure;
}
 
caption {
  margin-bottom: 15px;
  font-size: 25px;
}
 
td:nth-child(1),
th:nth-child(1) {
  color: red;
  width: 20px;
  margin:auto;
}
td:nth-child(2),
th:nth-child(2) {
  width: 20px;
  margin:auto;
}
td:nth-child(3),
th:nth-child(3) {
  width: 20px;
  margin:auto;
}
td:nth-child(4),
th:nth-child(4) {
  width: 20px;
  margin:auto;
}
td:nth-child(5),
th:nth-child(5) {
  width: 20px;
  margin:auto;
}
td:nth-child(6),
th:nth-child(6) {
  width: 20px;
  margin:auto;
}
td:nth-child(7),
th:nth-child(7) {
  width: 20px;
  margin:auto;
  color: blue;
}
 
.wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: grape nuts;
}
 
table {
  color: black;
}
table td{
    font-size: 16px;  
    width: 20px;      
}
table th{
    width: 20px;    
}
.k-countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
 
.k-photo-gallery {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.k-photo-gallery-content {
    flex-direction: row;
    height: calc(100vh - 300px);
}
.k-photo-gallery-content img{
    height: calc(100vh - 300px);
    width: auto;
    object-fit: cover; /* 이미지가 컨테이너를 꽉 채우되 비율 유지 (잘림 발생) */ 
    object-position: center; /* 이미지가 중앙을 기준으로 표시됨 */
}
 
 .k-modal {
    /*position:absolute;*/
    display:none;
    
    justify-content: center;
    /*top:0;*/
    /*left:0;*/

    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.4);      
 }
 .k-modal-body{
            position:absolute;
            /*top:50%; //모달을 화면가운데 놓기위함. */
        

            width:400px;  //모달의 가로크기 
            height:600px; //모달의 세로크기 

            padding:40px;  

            text-align: center;

            background-color: rgb(255,255,255); //모달창 배경색 흰색
            border-radius:10px; //테두리 
            box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); //테두리 그림자 

            transform:translateY(-50%); //모듈창열었을때 위치설정 가운데로 
        }

.photo-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 1em;
}

#gallery-cu{          
            list-style-type: none;
            margin: 0;
            padding: 0;
/*             display: flex; 
/*             flex-wrap: wrap; /* 이미지가 줄을 넘어가면 다음 줄로 넘어가도록 설정  
/*             justify-content: center; */
            
    display: flex; /* 이미지를 가로로 나열하기 위한 flex 컨테이너 */
    flex-wrap: wrap; /* 이미지가 줄을 넘어가면 다음 줄로 넘어가도록 설정 */
    width: 100%; /* 갤러리 컨테이너의 너비 설정 */
    gap: 2px; /* 이미지 간의 간격 */
}

#gallery-cu::after{content: ""; display: block; clear: both;}

#gallery-cu > li{
            float: left; margin: 0 1px;

    flex: 1 1 calc(30% - 1px); /* 3x4 그리드를 만들기 위해 가로 폭을 25%로 설정 (간격 고려) */
    box-sizing: border-box; /* 패딩과 테두리가 요소의 너비에 포함되도록 설정 */
    overflow: hidden; /* 이미지 밖으로 넘치는 부분을 숨김 */
    aspect-ratio: 1 / 1; /* 이미지를 정사각형으로 만들기 위한 가로세로 비율 설정 */
    position: relative; /* 이미지 내에서 요소 배치를 위한 기준점 */
}

#gallery-cu > li > a{display: block; text-decoration: none;}

#gallery-cu > li > a > img{
            
    display: block; /* 이미지를 블록 요소로 만들어 여백 제거 */
    width: 100%; /* 이미지의 너비를 부모 요소(wrapper)에 맞춤 */
    height: 100%; /* 이미지의 높이를 부모 요소(wrapper)에 맞춤 */
    object-fit: cover; /* 이미지의 가로세로 비율을 유지하며 컨테이너를 꽉 채우도록 설정 */
/*     border-radius: 8px; /* 이미지 모서리를 둥글게 처리 */ 
/* display: block;  */
/* width: 120px;  */
/* height: 120px;  */
border: 3px solid transparent; 
/* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6); */
}

#overlay-cu{
position: fixed;
top: 0; right: 0; left: 0; bottom: 0;

background-color: rgba(0, 0, 0, 0.8);

display: none;
z-index: 100;
}

#photo-cu{
position: absolute;
top: 50%; left: 50%;
transform: translate(-50%, -50%);

max-width: 80%;
max-height: 80%;
border: 10px solid white;
}
